* {
  box-sizing: border-box;
}

input[type=text],input[type=date],input[type=number] {
 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}



input[type=submit] {
  background-color: #578796;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align: center
  
}

input[type=submit]:hover {
  
   background-color: #012B39;
  color: white;
  border-color: currentColor;
}

input[type=submit]:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

#expenseform {
	position: fixed;
	margin-left: -120px;
	margin-top: -150px;
	top: 50%;
	left: 50%;
}
body {
  background-color: #105469;
}

/* HOME*/

.home {
  background-color: #3f7687;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align: center;
  margin-left: 1350px;
  margin-top: -70px;
  
}

.home:hover {
  background-color: #012B39;
  color: white;
  border-color: currentColor;
 
}

.home:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.box {
	width:1520px;
	height:100px;
	margin-left:0px;
	margin-right:8px;
	margin-top:8px;
	background: #09323f;
}
#heading {
	margin-top:150px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1.1em;
	font-weight: 200;
	margin-top: -10px;
	margin-left: 10px;
}

#postresult {
	margin-left: 640px;
	margin-top: 320px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
  font-weight: 600;
	color:#ff0000;
}