table, th, td {
	border: 1px solid black;
}

table.center {
	position: fixed;
	margin-left: -150px;
	margin-top: -100px;
	top: 50%;
	left: 50%;
}





@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}
table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}



/* LOGOUT BUTTON*/
#logout {
	
	margin-left: 1420px;
	margin-top: -20px;
	top: 50%;
	left: 50%;
}
#allExpense {
	
	margin-left: 1135px;
	margin-top: -33px;
	top: 50%;
	left: 50%;
}
#add {
	
	margin-left: 1290px;
	margin-top: -33px;
	top: 50%;
	left: 50%;
}
.logout,.add,.all {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;
  cursor: pointer;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  background-color: #012B39;
}
.logout:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
.add:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
.all:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.logout:hover {
  color: white;
  border-color: currentColor;
  background-color: transparent;
}
.add:hover {
  color: white;
  border-color: currentColor;
  background-color: transparent;
}
.all:hover {
  color: white;
  border-color: currentColor;
  background-color: transparent;
}

.box {
	width:1520px;
	height:100px;
	margin-left:8px;
	margin-top:8px;
	background: #09323f;
}
#title {
	margin-top:150px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1.1em;
	font-weight: 200;
	margin-top: 0px;
	margin-left: 10px;
}

#noExpenditure {
	margin-top:150px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1.1em;
	font-weight: 200;
	margin-top: 170px;
	margin-left: 550px;
}